@page
@model AdminIndexModel
@{
    ViewData["Title"] = "Администрирование";
}

<h1>Администрирование</h1>
<p>Доступ к разделу ограничен: только администраторы.</p>

<ul>
    <li><a href="/serverinfo">Информация о сервере</a></li>
    <li><a href="/admin/users">Пользователи (CRUD)</a></li>
</ul>

